 <div class="container">
    <div style="margin-bottom: 10px;">
        <mat-form-field appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ROCK" #input>
        </mat-form-field>

        <div class="mat-elevation-z8" style="text-align: center">
            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="ID">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Lun ID </th>
                    <td mat-cell *matCellDef="let row"> {{row.LunID}} </td>
                </ng-container>

                <ng-container matColumnDef="Name">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let row"> {{row.LunName}} </td>
                </ng-container>
              
                <ng-container matColumnDef="Type">
                  <th mat-header-cell *matHeaderCellDef> Type</th>
                  <td mat-cell *matCellDef="let row"> {{row.LunType}} </td>
                </ng-container>
              
                <ng-container matColumnDef="Total Space">
                  <th mat-header-cell *matHeaderCellDef> Total Space </th>
                  <td mat-cell *matCellDef="let row"> {{row.LunTSpace}} </td>
                </ng-container>
              
                <ng-container matColumnDef="Remaining Space">
                  <th mat-header-cell *matHeaderCellDef> Remaining Space </th>
                  <td mat-cell *matCellDef="let row"> {{row.LunRSpace}} </td>
                </ng-container>
              
                <ng-container matColumnDef="Storage ID">
                  <th mat-header-cell *matHeaderCellDef> Storage ID </th>
                  <td mat-cell *matCellDef="let row"> {{row.StorageID}} </td>
                </ng-container>

                <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-icon-button color="primary" (click)="openUpdateLunDialog(row)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="DeleteLun(row.ID)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>

            <div style="text-align: left">
                <button mat-raised-button color="primary" style="margin-left:20px; margin-top:20px;"
                    (click)="openCreateLunDialog()">
                    Create Lun
                </button>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of Luns"></mat-paginator>
            </div>
        </div>
    </div>
</div>