<h1 style="margin-top: 100px; margin-left: 175px; "><strong>Cluster Nodes Page</strong></h1>
<div class="container">
    <div style="margin-bottom: 10px;">
        <mat-form-field appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ROCK" #input>
        </mat-form-field>

        <div class="mat-elevation-z8" style="text-align: center">
            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="NodeID">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let row"> {{row.NodeID}} </td>
                </ng-container>

                <ng-container matColumnDef="NodeName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell *matCellDef="let row"> {{row.NodeName}} </td>
                </ng-container>

                <ng-container matColumnDef="NodeTotalRAM">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Total RAM </th>
                    <td mat-cell *matCellDef="let row"> {{row.NodeTotalRAM}} </td>
                </ng-container>

                <ng-container matColumnDef="NodeRemainingRAM">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Remaining RAM </th>
                    <td mat-cell *matCellDef="let row"> {{row.NodeRemainingRAM}} </td>
                </ng-container>

                <ng-container matColumnDef="NodeTotalCPUCores">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Total CPU Cores </th>
                    <td mat-cell *matCellDef="let row"> {{row.NodeTotalCPUCores}} </td>
                </ng-container>

                <ng-container matColumnDef="NodeRemainingCPUCores">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Remaining CPU Cores </th>
                    <td mat-cell *matCellDef="let row"> {{row.NodeRemainingCPUCores}} </td>
                </ng-container>

                <ng-container matColumnDef="VMs">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> VMs </th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-raised-button color="primary" (click)=" viewNodeVMs(row.NodeID)">
                            View VMs
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-icon-button color="primary" (click)="openUpdateNodeDialog(row)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="deleteNode(row.NodeID)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>

            <div style="text-align: left">
                <button mat-raised-button color="primary" style="margin-left:20px; margin-top:20px;"
                    (click)="openCreateNodeDialog()">
                    Add New Node
                </button>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
            </div>
        </div>
    </div>
</div>