<div fxLayoutAlign="center center" class="image">
    <mat-card class="mat-elevation-z12" style="margin-top: 15px;">
        <mat-card-title style="text-align:center; font-weight: bold;">Welcome to EGID!</mat-card-title>
        <img mat-card-image src="./assets/login.png" width="40" height="270" alt="Login Photo">
        <mat-card-content>
            <mat-card-title style="margin-left: 10px; margin-bottom: 15px; margin-top:  10px; font-weight: 600;">
                Sign Up</mat-card-title>
            <mat-card-subtitle style="margin-left: 10px; margin-bottom: 30px;">Sign up to get started!
            </mat-card-subtitle>
            <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="registrationForm">

                <mat-form-field appearance="outline" class="full-width-field">
                    <mat-label>Username</mat-label>
                    <input formControlName="Username" matInput type="text" placeholder="Username">
                    <mat-icon matSuffix>person_outline</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width-field">
                    <mat-label>Password</mat-label>
                    <input formControlName="Password" matInput type="password" placeholder="Password">
                    <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit" class="signup-button" (click)="registerUser()"
                    [disabled]="registrationForm.invalid">Sign Up</button>
                <mat-card-subtitle style="margin-left: 20px; margin-top: 20px;">Already have an account? <a
                        routerLink="" target="_blank" style="font-weight: 550;"> Sign in</a>
                </mat-card-subtitle>

            </form>
        </mat-card-content>
    </mat-card>
</div>
