<h1 mat-dialog-title>Create Lun</h1>
<div>
    <mat-dialog-content>
        <form [formGroup]="lunForm">
            <div>
                <mat-form-field appearance="outline" class="full-width-field">
                    <mat-label>Lun Name</mat-label>
                    <input formControlName="LunName" matInput type="string" placeholder="Lun Name">
                </mat-form-field>
            </div>
            <ng-template [ngIf]="StorageLun!=null">
                <div>
                    <mat-form-field appearance="outline" class="full-width-field">
                        <mat-label>Lun Total Space</mat-label>
                        <input formControlName="LunTotalSpace" matInput type="number" placeholder="Lun Total Space"
                        max="{{StorageLun.StorageRemainingSpace}}" min="{{0}}">
                    </mat-form-field>
                </div>
            </ng-template>

            <div>
                <mat-form-field appearance="outline" class="full-width-field">
                    <mat-label>Storage ID</mat-label>
                    <input formControlName="StorageID" matInput type="number" placeholder="StorageID" readonly >
                </mat-form-field>
            </div>
        </form>
    </mat-dialog-content>
</div>

<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button style="margin-left: 10px;" [disabled]="lunForm.invalid" mat-raised-button color="primary"
        (click)="CreateLun()">Create</button>
</div>